%h1 Request created
%p Congratulations!  You’ve just created a new branch with name <pre>#{@branch_name}</pre>
%h1 Parameters
%p
  Source:
  = @redirect.source
  Target:
  = @redirect.target
  Name:
  = @redirect.name
  Stakeholder:
  = @redirect.stakeholder
